@model StreamPowered.Web.Models.ViewModels.ReviewModel

<div class="col-md-12">
    <div class="review-preview-box">
        <div class="row">
            <div class="col-md-12"><p>@Model.Content</p></div>
            <div class="col-md-12"><strong>@Model.User</strong> on @Model.CreationTime</div>
        </div>
    </div>
</div>

