@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("My Snippets", "MySnippets", "Snippet")</li>
    <li>@Html.ActionLink("New Snippet", "Create", "Snippet")</li>
}
